Jinja2==2.10
MarkupSafe==1.1.0
nltk==3.3
scipy==1.1.0
six==1.11.0
sklearn==0.0
Werkzeug==0.14.1
flask-cors
numpy==1.15.4
pandas==0.23.4
python-dateutil==2.7.5
pytz==2018.7
rake-nltk==1.0.4
Sastrawi==1.0.1
scikit-learn==0.20.0
scikit-multilearn==0.2.0
Click==7.0
Flask==1.0.2
itsdangerous==1.1.0
nltk==3.3
multi-rake==0.0.1

